footer {
    background: #FFB5A7;
    border-top: 5px solid #ffccd5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.Logo-Final {
    img{
        width: 150px;
    }
}