@media (max-width: 1650px) {
    .container {
        width: 1550px;
    }
}

@media (max-width: 1450px) {
    .container {
        width: 1349px;
    }
}

@media (max-width: 1350px) {
    .container {
        width: 1350px;
    }
}

@media (max-width: 1250px) {
    .container {
        width: 1250px;

        .Conteudo-Principal-1 {
            div {
                article{
                    margin-right: -100px;
                }
            }
        }
    }
}

@media (max-width: 1150px) {
    .container {
      width: 1150px;
    }

    .Menu{
        nav{
            ul{
                li{
                    margin-left: -70px;
                }
            }
        }
        div{
            img{
                width: 120px;
            }
        }
    }

    .Conteudo-Principal-1 {
        margin: -50px 150px;

        div{
            article{
                margin-left: 280px;
            }
            figcaption{
                img{
                    width: 630px;
                }
            }
        }
    }

    .Conteudo-Principal-2 {
        margin-top: -30px;
        div{
            p{
                margin: 400px 40px;
            }

            figcaption{
                img{
                    width: 680px;
                }
            }
        }
    }
  }

  @media (max-width: 1024px) {
    .container{
        width: 850px;
    }
    .Menu{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
        nav{
            margin-top: 20px;
            margin-left: 450px;
        }
    }

    .Conteudo-Principal-1 {
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-direction: center;

            article {
                margin-top: 50px;
                margin-left: 450px;
            }

            figcaption{
                width: 10px;
                margin-top: -200px;
                margin-left: -900px;
            }
        }
    }

    .Conteudo-Principal-2 {
        div{
            display: flex;
            flex-direction: column;

            p{
                font-size: 30px;
                margin: 370px 100px 150px 100px;
            }

            figcaption {
                img {
                    width: 750px;
                    margin-top: -300px;
                }
            }
        }
    }
  }

  @media (max-width: 915px) {
    .container {
        width: 600px;
    }

    .Menu {
        display: flex;
        flex-direction: column-reverse;
        nav {
            margin: 10px 0px 10px 450px;
            
        }
    }

    .Conteudo-Principal-1 {
        display: flex;
        flex-direction: column;

        div{
            article{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 190px;
                margin: 30px 200px 10px;
            }
            
            figcaption{
                img{
                    width: 500px;
                    margin-top: 190px;
                    margin-left: 80px;
                }
            }
        }
    }

    .Conteudo-Principal-2 {
        div{
            p{
                font-size: 25px;
            }

            figcaption {
                img {
                    width: 500px;
                    margin-top: -260px;
                }
            }
        }
    }
  }

  @media (max-width: 665px) {
    .container {
      width: 400px;
    }

    header {
        section{
            nav{
                ul {
                    display: flex;
                    flex-direction: column;
                    margin-top: 5px;
                }
            }
        }
        div {
            img {
                width: 50px;
            }
        }
    }

    .Conteudo-Principal-1 {
        div{
            article{
                width: 200px;
                margin: 30px;

                h1{
                    font-size: 40px;
                }
                h2{
                    font-size: 25px;
                }
            }

            figcaption{
                img{
                    width: 350px;
                    margin-left: 200px;
                }
            }
        }
    }

    .Conteudo-Principal-2 {
        div {
            p{
                font-size: 15px;
            }

            figcaption{
                img{
                    width: 350px;
                    margin-top: -220px;
                }
            }
        }
    }

    .Logo-Final {
        img {
            width: 140px;
        }
    }
  }
